<?xml version="1.0"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" version="5.0">
    
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>com.dawilly.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/add-user</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ListUsersServlet</servlet-name>
        <servlet-class>com.dawilly.ListUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListUsersServlet</servlet-name>
        <url-pattern>/list-users</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.dawilly.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/update-user</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>com.dawilly.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/delete-user</url-pattern>
    </servlet-mapping>
    
</web-app>
